/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body{
	background: url(bg.jpg) repeat left top;
}
h1{
	color:#F99;
	font-size: 30px;
}
p{
	color: #45f;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
a, a:visited{color: #fff; text-decoration: none}
a:hover{color: #999;}
