<html>
	<head>
		<title>Ruby on Rails</title>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css" />
	</head> 
  <body>
  	<div style="text-align: center; margin-top: 50px;">
  		<h1><%= @message %></h1>
  		<p><a href="http://www.google.com.vn">Hello Rails 3.1</a></p>
  	</div> 
    
  </body> 
</html>